@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    color: #333;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Droid Serif', serif;
}

.app {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;

    gap: 5px;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding-bottom: 1.2em;
    border-bottom: 1px solid #D0D0D0;
}

.info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
}

.lista_nev {
    font-size: 2em;
    justify-self: start;
    font-family: 'Droid Serif', serif;
}

.gomb {
    text-decoration: none;
    letter-spacing: -.015em;
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    cursor: pointer;
    transition: background-color .2s;
}

.grid {
    justify-self: end;
}

.elem_btn {
    margin: auto 0.5em;
}

.zold {
    background: #82ca9c;
}

.zold:hover {
    background: #578668;
}

.piros {
    background: #f05555;
}

.piros:hover {
    background: #af3c3c;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    font-family: 'Montserrat', sans-serif;
}

.elem {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    padding: 1em;
}

.elem:nth-child(even) {
    background: #fafafa;
}

.bal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

p.id {
    color: #777;
    margin: 0;
    margin-top: .5em;
    font-size: 1.1em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .025em;
}

.jobb {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    margin: 1em;
}

.margin1 {
    margin: 1em 0;
}

p.db {
    font-size: .85em;
    float: right;
    margin: .7em 2em .7em 0;


    color: #777777;
}

.input {
    height: 1.5em;
    font-size: 1em;
    padding: .25em;
    margin: auto 0.5em;
}

.text {
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.1rem;
    color: black;
    padding: 7px 0;
    overflow: scroll;
    background: transparent;
}

.number {
    width: 1.5em;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: none;
    margin-top: 2em;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

    transition: display .2s;
}

.hozzaad {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    margin: 1em;

    justify-self: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: rgb(175, 162, 162);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    border-radius: 5px;

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-body {
    padding: 2px 16px;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 1em;
        right: 1em;
        opacity: 1,
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 1em;
        right: 1em;
        opacity: 1
    }
}