@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    color: #333;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Droid Serif', serif;
}

.app {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto;

    gap: 5px;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding-bottom: 1.2em;
    border-bottom: 1px solid #D0D0D0;
}

.info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
}

.lista_nev {
    font-size: 2em;
    margin: 0 .5em;
    justify-self: normal;
    font-family: 'Droid Serif', serif;
}

.gomb {
    text-decoration: none;
    letter-spacing: -.015em;
    font-family: 'Montserrat', sans-serif;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

.grid {
    justify-self: end;
    margin: 0 1em;
}

#rename{
    display: none;
}

.elem_btn {
    margin: auto 0.5em;
}

.zold {
    background: #82ca9c;
}

.zold:hover {
    background: #578668;
}

.piros {
    background: #f05555;
}

.piros:hover {
    background: #af3c3c;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    font-family: 'Montserrat', sans-serif;
}

.elem {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    padding: 1em;
}

.elem:nth-child(even) {
    background: #fafafa;
}

.bal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

p.id {
    color: #777;
    margin: 0;
    margin-top: .5em;
    font-size: 1.1em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .025em;
}

.jobb {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.margin1 {
    margin: 1em 0;
}

p.db {
    font-size: .85em;
    float: right;
    margin: .7em 2em .7em 0;


    color: #777777;
}

.input {
    height: 1.5em;
    font-size: 1em;
    padding: .25em;
    margin: auto 0.5em;
}

.text {
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.1rem;
    color: black;
    padding: 7px 0;
    overflow: scroll;
    background: transparent;
}

.elnevezes {
    display: none;
    font-size: 1em;
    font-family: inherit;
    justify-self: self-start;
    padding: 0 !important;
    float: left;
}

.number {
    width: 1.5em;
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form {
    display: none;
    margin-top: 2em;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

    transition: display .2s;
}

.hozzaad {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    margin: 1em;

    justify-self: center;
}

#massage>.modal-content {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: rgb(175, 162, 162);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    border-radius: 5px;

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

#massage>.modal-body {
    padding: 2px 16px;
}

#massage>.modal-content>.modal-body>p {
    margin: 1em
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

#alert {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#alert>.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 60%;
}

#alert>.modal-content>.modal-body {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "title title"
        "megerosit megsem";
    text-align: center;
}

#alert>.modal-content>.modal-body>p {
    grid-area: title;
    font-size: 1.2em;
    margin: 1em 1em 3em 1em;

}

.muvelet {
    display: block;
    font-weight: bold;
    font-size: 1.3em;
    margin: .5em 0;
}

.red {
    color: red;
    font-weight: bold;
}

#alert>.modal-content>.modal-body>#megerosit {
    grid-area: megerosit;
    margin: 0 1em;
    font-size: .9em;
    width: 80%;
}

#alert>.modal-content>.modal-body>#megsem {
    grid-area: megsem;
    margin: 0 1em;
    font-size: .9em;
    width: 80%;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 1em;
        right: 1em;
        opacity: 1,
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 1em;
        right: 1em;
        opacity: 1
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 2em;
    margin: 1em;
}

.card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "title title"
        "osszeg date";

    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card>.title {
    grid-area: title;
    font-size: 2.3em;
    margin: .7em auto 2em .7em;
}

a {
    text-decoration: none;
    color: black;
}

.card>.osszeg {
    grid-area: osszeg;
    font-size: 1em;
    text-align: left;
    margin: .7em .7em;
}

.card>.date {
    grid-area: date;
    font-size: 1em;
    text-align: right;
    margin: .7em .7em;
}