<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bevásárlólista</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css'%} ">
</head>

<body>
    <div class="app">
        <div class="header">
            <h1><a href="/">Bevásárlólista</a></h1>
            <div class="info">
                {% csrf_token %}
                <div class="bal">
                    <span class="lista_nev"><span id="lista_nev">{{ nev }}</span> <input type="text" name="nev"
                            class="input text elnevezes" value="{{ nev }}" /></span>
                </div>
                <div class="jobb">
                    <div class="gomb piros grid" id="delete">Törlés</div>
                    <div class="gomb zold grid-l" id="rename">Átnevezés</div>
                </div>
            </div>
        </div>
        <div class="content">
            {% for tetel in tetelek %}
            <div class="elem targy">
                <div class="bal">
                    <p class="id">#{{tetel.id}}</p>
                    <h3>{{tetel.nev}}</h3>
                </div>
                <div class="jobb margin1">
                    <div class="gomb piros elem_btn" id="torles">X</div>
                    <div class="gomb zold elem_btn" id="frissit">Frissítés</div>
                    <p class="db"> db</p>
                    {% csrf_token %}
                    <input type="number" name="db" onkeydown="return event.keyCode !== 69" class="input number right"
                        value="{{tetel.db}}" />
                </div>
            </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                <div class="elem">
                    <div class="bal margin1">
                        <input type="text" name="nev" class="input text left" placeholder="Elnevezés" />
                    </div>
                    <div class="jobb margin1">
                        <div class="gomb zold elem_btn" id="submit">✓</div>
                        <p class="db"> db</p>
                        <input type="number" name="db" onkeydown="return event.keyCode !== 69"
                            class="input number right" value="1" />
                    </div>
                </div>
            </form>
        </div>
        <div class="hozzaad">
            <div class="gomb zold" id="add">Hozzáad</div>
        </div>
    </div>
    <div id="massage" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <p />
            </div>
        </div>
    </div>
    <div id="alert" class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <p>A következő műveletet szeretnéd végrehajtani:<br />
                    <span class='muvelet'></span><br />
                    <span id="bool"></span> Biztosan folytatni szeretnéd?</p>
                <div class="gomb zold" id="megerosit">Igen</div>
                <div class="gomb piros" id="megsem">Mégsem</div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'bevasarlolista.js'%} "></script>

</html>